<c-card class="mt-1 mb-1">
  <c-row class="p-2">
    <c-col md="3">
      <span class="clearfix">
        <h6 class="pt-3">Từ ngày</h6>
      </span>
      <c-date-picker inputReadOnly [(ngModel)]="fromDate" #datePicker="cDatePicker" [calendarDate]="calendarFromDate" />
    </c-col>
    <c-col md="3">
      <span class="clearfix">
        <h6 class="pt-3">Đến ngày</h6>
      </span>
      <c-date-picker inputReadOnly [(ngModel)]="toDate" #datePicker="cDatePicker" [calendarDate]="calendarToDate" />
    </c-col>
    <c-col md="3">
      <span class="clearfix">
        <h6 class="pt-3">Nhân viên</h6>
      </span>
      <c-input-group class="input-prepend">
        <span cInputGroupText>
          <svg cIcon name="cilMagnifyingGlass"></svg>
        </span>
        <input cFormControl placeholder="Nhân viên" type="text" [(ngModel)]="employee_code" />
      </c-input-group>
    </c-col>
    <c-col md="3">
      <span class="clearfix">
        <h6 class="pt-3">Cửa hàng</h6>
      </span>
      <c-input-group class="input-prepend">
        <span cInputGroupText>
          <svg cIcon name="cilMagnifyingGlass"></svg>
        </span>
        <input cFormControl placeholder="Cửa hàng" type="text" [(ngModel)]="shop_code" />
      </c-input-group>
    </c-col>
  </c-row>
  <c-row class="p-2">
    <c-col md="3">
      <span class="clearfix">
        <h6 class="pt-3">Mã báo cáo</h6>
      </span>
      <c-input-group class="input-prepend">
        <span cInputGroupText>
          <svg cIcon name="cilMagnifyingGlass"></svg>
        </span>
        <input cFormControl placeholder="Mã báo cáo" type="text" [(ngModel)]="report_code" />
      </c-input-group>
    </c-col>

    <c-col md="3">
      <span class="clearfix">
        <h6 class="pt-3">-</h6>
      </span>
      <button (click)="handleModalCTBC_OSA()" cButton>
        <svg cIcon name="cilFile"></svg>
        Chi tiết báo cáo</button>
    </c-col>
    <c-modal id="liveDemoModal" [visible]="toggleModalCTBC_OSA">
      <c-modal-header>
        <h5 cModalTitle>Thông tin chi tiết báo cáo</h5>
        <button (click)="toggleModalCTBC_OSA = false" cButtonClose></button>
      </c-modal-header>
      <c-modal-body>

      </c-modal-body>
    </c-modal>

  </c-row>
  <hr />
  <c-row class="p-2">
    <c-col md="12">
      <button cButton color="primary" (click)="Filter(1)">Tìm kiếm</button>
    </c-col>
  </c-row>
</c-card>

<c-card>
  <div class="fade show text-center p-5" *ngIf="isLoading">
    <i class="spinner-grow spinner-grow-sm text-success"></i>
    <span class="m-1 text-success">Đang load dữ liệu</span>
  </div>

  <c-row *ngIf="this.filterData && this.filterData.length > 0">
    <c-col xs="12">
      <c-card>
        <c-card-body class="card-data">
          <c-smart-table #smartTable="cSmartTable" [columns]="columns" header [itemsPerPageSelect]="true"
            [itemsPerPage]="20" [items]="this.filterData" loading
            [tableProps]="{ hover: true,bordered:true, striped: false, responsive: true }">
            <!-- pagination -->

            <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item" let-tdContent="tdContent">
              <td [cAlign]="smartTable.getTableDataCellProps(item, columnName)?.['align']"
                [cTableActive]="smartTable.getTableDataCellProps(item, columnName)?.['active']"
                [cTableColor]="smartTable.getTableDataCellProps(item, columnName)?.['color']"
                [ngClass]="smartTable.getTableDataCellClass(item, columnName)"
                style="{{this.details_visible[item.detect_id]?.visible ? 'background-color:#f2f2f2' : ''}}">
                @switch (columnName) {
                @case ('show') {
                <button (click)="toggleDetails(item)" cButton color="primary">
                  <svg cIcon
                    name="{{this.details_visible[item.detect_id]?.visible === true ? 'cilMinus' : 'cilPlus'}}"></svg>
                </button>
                }
                @case ('detect_verify') {
                <button
                  disabled="{{ item.detect_verify == 1  || this.item_visible[item.detect_id]?.detect_verify == 1 ? true : false}}"
                  (click)="QCSave(item)" cButton color="primary">
                  {{ item.detect_verify == 1 || this.item_visible[item.detect_id]?.detect_verify == 1
                  ? "Đã xác nhận" :
                  "Xác nhận" }}
                </button>
                }
                @default {
                {{ tdContent }}
                }
                }
              </td>
            </ng-template>
            <ng-template cTemplateId="tableDetails" let-item="item">
              <div [visible]="this.details_visible[item.detect_id]?.visible" cCollapse>
                <c-row class="bg-light-subtle p-1 w-100 text-center">
                  <c-col lg="7">
                    <div class="table-container">
                      <table class="table-container table table-bordered table-hover" cTable>
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Mã sản phẩm</th>
                            <th scope="col">Tên sản phẩm</th>
                            <th scope="col">Facing Detected</th>
                            <th scope="col">Facing</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody style="overflow: auto; max-height: 500px;">
                          <tr *ngFor="let itemDetail of this.details_visible[item.detect_id]?.dataDetails; index as i;">
                            <td>{{itemDetail.sku_id}}</td>
                            <td>{{itemDetail.sku_code}}</td>
                            <td>{{itemDetail.sku_name}}</td>
                            <td>{{itemDetail.sku_facing_ai}}</td>
                            <td>
                              <c-input-group>
                                <input cFormControl type="number" placeholder="blank = Facing Detected"
                                  name="sku_facing"
                                  style="text-align: center; {{ itemDetail.sku_facing && itemDetail.sku_facing_ai !=itemDetail.sku_facing ? 'font-weight: bold;color:red':'' }}"
                                  [(ngModel)]="itemDetail.sku_facing"
                                  disabled="{{this.details_visible[item.detect_id]?.detect_verify == 1 ? true : false}}" />
                              </c-input-group>
                            </td>
                            <td style="cursor:pointer" (click)="RemoveItemDetail(itemDetail,item)">
                              <svg style="color:brown;" cIcon name="cilTrash"></svg>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!--  -->
                    <div style="display: flex; justify-content: end; align-items: center; gap: 5px;">
                      <label>Kết quả QC: </label>
                      <select style="width: 30%;" class="form-select"
                        [value]="details_visible[item.detect_id]?.resultQC"
                        (change)="updateResultQC(item.detect_id,$event)">
                        <option value="true">Đúng</option>
                        <option value="false">Sai</option>
                      </select>
                    </div>

                    <div style="display: flex; justify-content: end; align-items: center; gap: 5px;margin-top: 13px;">
                      <label>Sản phẩm thiếu: </label>
                      <ng-select style="min-width: 380px;" [items]="listSKU" bindLabel="sku_name" [(ngModel)]="sku_id"
                        bindValue="sku_id" [(ngModel)]="selectedSKU" placeholder="Chọn sản phẩm" [searchable]="true"
                        class="custom-ng-select">
                      </ng-select>
                      <!-- <select style="width: 30%;" class="form-select" placeholder="Chọn sản phẩm" >
                                                <option *ngFor="let item of this.listSKU" [value]="item.sku_id">{{
                                                    item.sku_name }}</option> -->
                      <c-input-group class="input-prepend" style="width: fit-content;">
                        <input style="width: 70px;" cFormControlplaceholder="Nhập số lượng" type="text"
                          [(ngModel)]="sku_facing" />
                      </c-input-group>
                      <button cButton color="primary" (click)="insertDetailSKU(item.detect_id,item)">Xác nhận</button>
                    </div>

                    <!--  -->
                    <c-row>
                      <div class="float-left" style="margin-top: 13px;">
                        <button disabled="{{this.details_visible[item.detect_id]?.detect_verify == 1 ? true : false}}"
                          color="primary" cButton size="md" variant="outline"
                          (click)="SaveDetail(this.details_visible[item.detect_id]?.dataDetails,this.details_visible[item.detect_id])">Lưu</button>
                        <button style="margin-left: 15px;"
                          disabled="{{this.details_visible[item.detect_id]?.detect_verify == 1 ? true : false}}"
                          color="primary" cButton size="md" variant="outline"
                          (click)="SaveNote(this.details_visible[item.detect_id])">Lưu
                          Note</button>
                      </div>
                    </c-row>
                    <div class="">
                      <label style=" float: left;">Ghi chú:
                      </label>



                      <textarea style="width: 100%;" name="" [ngModel]="details_visible[item.detect_id]?.note"
                        (ngModelChange)="updateNote(item.detect_id, $event)"></textarea>




                    </div>
                  </c-col>
                  <c-col lg="5">
                    <c-carousel [dark]="true" [wrap]="false">
                      <c-carousel-indicators></c-carousel-indicators>
                      <c-carousel-inner>
                        @for (slide of this.details_visible[item.detect_id]?.photoDetails; track
                        slide.src;let idx =$index) {

                        <div class="{{idx === 0 ? 'carousel-item active' : 'carousel-item'}}"
                          data-coreui-interval="-99999999">
                          <div style="cursor: pointer;text-align: left;" (click)="downloadImage(slide.photo_url)"><svg
                              cIcon name="cil-arrow-thick-to-bottom" size="lg"></svg></div>
                          <!-- <button ">Download Image</button> -->

                          <!-- <img [src]="slide.src" alt="{{slide.title}}" class="d-block " style="width: 90%;"
                            loading="lazy"
                            (click)="showImage(slide._index,this.details_visible[item.detect_id]?.photoDetails)" /> -->

                             <img *ngIf="!slide.src" [src]="slide.photo_url" alt="{{slide.title}}" class="d-block "
                            style="width: 90%;" loading="lazy" (click)="openImageInNewWindow(slide.photo_url,2)" />
                          <!-- (click)="showImage(slide._index,this.details_visible[item.detect_id]?.photoDetails)"  -->
                          <div *ngIf="slide.src" (click)="openImageInNewWindow(slide.src,1)">
                            <object style="pointer-events: none;" type="image/svg+xml" [attr.data]="slide.src">
                            </object>
                          </div>
                        </div>
                        }
                      </c-carousel-inner>
                      <c-carousel-control style="z-index: -999" [routerLink] caption="Previous"
                        direction="prev"></c-carousel-control>
                      <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
                    </c-carousel>

                  </c-col>
                </c-row>
              </div>
            </ng-template>
          </c-smart-table> </c-card-body>

        <c-smart-pagination [activePage]="currentPage" [pages]="totalPages" align="center"
          (activePageChange)="onPageChange($event)">
        </c-smart-pagination>

      </c-card>
    </c-col>
  </c-row>

  <c-row *ngIf="isShowData && !isLoading && this.filterData.length == 0">
    <c-col xs="12" class="text-center p-5">
      <span>Chưa có dữ liệu</span>
    </c-col>
  </c-row>
</c-card>

<c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
  <c-modal-header>
    <h5 cModalTitle>Thông báo</h5>
    <button (click)="toggleLiveDemo()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>{{this.message}}</c-modal-body>
</c-modal>

<div class="position-fixed end-0 bottom-0 m-4" style="cursor: pointer" (click)="handleScrollOnTop()">
  <svg cIcon name="cilArrowCircleTop" class="bg-white rounded p-2" style="width: 40px; height: 40px;"></svg>
</div>
